@page
@model MovieTracker.Pages.AboutModel
@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>

<p>MovieTracker is a web application that utilizes a CRUD database, ASP.NET Core, Entity Framework Core, and other features. 
    MovieTracker was designed for users who have been spending the past couple months at home and want to keep track of all the movies they have been binging.
    The app is quite simple, just click on the "Personal Library" button in the navigation bar and the rest is easy. 
    Enjoy and happy binging!</p>
